<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>designspace.location</key>
    <array>
      <array>
        <string>weight</string>
        <real>400.0</real>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>.null</string>
      <string>nonmarkingreturn</string>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>exclamdown</string>
      <string>cent</string>
      <string>sterling</string>
      <string>yen</string>
      <string>dieresis</string>
      <string>guillemotleft</string>
      <string>macron</string>
      <string>acute</string>
      <string>paragraph</string>
      <string>periodcentered</string>
      <string>cedilla</string>
      <string>guillemotright</string>
      <string>questiondown</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>AE</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>multiply</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>Thorn</string>
      <string>germandbls</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>eth</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>divide</string>
      <string>oslash</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>thorn</string>
      <string>ydieresis</string>
      <string>Abreve</string>
      <string>abreve</string>
      <string>Aogonek</string>
      <string>aogonek</string>
      <string>Cacute</string>
      <string>cacute</string>
      <string>Ccircumflex</string>
      <string>ccircumflex</string>
      <string>Ccaron</string>
      <string>ccaron</string>
      <string>Dcaron</string>
      <string>dcaron</string>
      <string>Ebreve</string>
      <string>ebreve</string>
      <string>Eogonek</string>
      <string>eogonek</string>
      <string>Ecaron</string>
      <string>ecaron</string>
      <string>Gcircumflex</string>
      <string>gcircumflex</string>
      <string>Gbreve</string>
      <string>gbreve</string>
      <string>Gcedilla</string>
      <string>gcedilla</string>
      <string>Hcircumflex</string>
      <string>hcircumflex</string>
      <string>Itilde</string>
      <string>Ibreve</string>
      <string>Iogonek</string>
      <string>Jcircumflex</string>
      <string>jcircumflex</string>
      <string>Kcedilla</string>
      <string>kcedilla</string>
      <string>Lacute</string>
      <string>lacute</string>
      <string>Lcedilla</string>
      <string>lcedilla</string>
      <string>Lcaron</string>
      <string>lcaron</string>
      <string>lslash</string>
      <string>Nacute</string>
      <string>nacute</string>
      <string>Ncedilla</string>
      <string>ncedilla</string>
      <string>Ncaron</string>
      <string>ncaron</string>
      <string>Obreve</string>
      <string>obreve</string>
      <string>Odblacute</string>
      <string>odblacute</string>
      <string>OE</string>
      <string>oe</string>
      <string>Racute</string>
      <string>racute</string>
      <string>Rcedilla</string>
      <string>rcedilla</string>
      <string>Rcaron</string>
      <string>rcaron</string>
      <string>Sacute</string>
      <string>sacute</string>
      <string>Scircumflex</string>
      <string>scircumflex</string>
      <string>Scedilla</string>
      <string>scedilla</string>
      <string>Scaron</string>
      <string>scaron</string>
      <string>Tcedilla</string>
      <string>tcedilla</string>
      <string>Tcaron</string>
      <string>tcaron</string>
      <string>Utilde</string>
      <string>utilde</string>
      <string>Ubreve</string>
      <string>ubreve</string>
      <string>Uring</string>
      <string>uring</string>
      <string>Udblacute</string>
      <string>udblacute</string>
      <string>Uogonek</string>
      <string>uogonek</string>
      <string>Wcircumflex</string>
      <string>wcircumflex</string>
      <string>Ycircumflex</string>
      <string>ycircumflex</string>
      <string>Ydieresis</string>
      <string>Zacute</string>
      <string>zacute</string>
      <string>Zcaron</string>
      <string>zcaron</string>
      <string>Acaron</string>
      <string>acaron</string>
      <string>Icaron</string>
      <string>Ocaron</string>
      <string>ocaron</string>
      <string>Ucaron</string>
      <string>ucaron</string>
      <string>Gcaron</string>
      <string>gcaron</string>
      <string>Kcaron</string>
      <string>kcaron</string>
      <string>Oogonek</string>
      <string>oogonek</string>
      <string>jcaron</string>
      <string>Gacute</string>
      <string>gacute</string>
      <string>Tcommabelow</string>
      <string>tcommabelow</string>
      <string>Hcaron</string>
      <string>hcaron</string>
      <string>Adotabove</string>
      <string>adotabove</string>
      <string>Ecedilla</string>
      <string>ecedilla</string>
      <string>Odotabove</string>
      <string>odotabove</string>
      <string>dotlessj</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>ogonek</string>
      <string>tilde</string>
      <string>hungarumlaut</string>
      <string>uni0326</string>
      <string>enspace</string>
      <string>uni2003</string>
      <string>uni2004</string>
      <string>uni2005</string>
      <string>uni2006</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>bullet</string>
      <string>ellipsis</string>
      <string>uni202F</string>
      <string>perthousand</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>Euro</string>
      <string>minus</string>
      <string>a.salt</string>
      <string>glyph314</string>
      <string>ascender</string>
      <string>descender</string>
      <string>y.salt</string>
      <string>d_stroke</string>
      <string>g_stroke</string>
      <string>q_stroke</string>
      <string>a_mirror</string>
      <string>t.salt</string>
      <string>k.salt</string>
      <string>j.salt</string>
      <string>M.salt</string>
      <string>l.salt</string>
      <string>g.salt</string>
      <string>Oslash</string>
      <string>dotlessi</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>itilde</string>
      <string>ibreve</string>
      <string>iogonek</string>
      <string>icaron</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>dblgravecmb</string>
      <string>breveinvertedcmb</string>
      <string>firsttonechinese</string>
      <string>horncmb</string>
      <string>Amacron</string>
      <string>amacron</string>
      <string>Emacron</string>
      <string>emacron</string>
      <string>Imacron</string>
      <string>imacron</string>
      <string>Omacron</string>
      <string>omacron</string>
      <string>Umacron</string>
      <string>umacron</string>
      <string>Ohorn</string>
      <string>ohorn</string>
      <string>Uhorn</string>
      <string>uhorn</string>
      <string>Adblgrave</string>
      <string>adblgrave</string>
      <string>Edblgrave</string>
      <string>edblgrave</string>
      <string>Idblgrave</string>
      <string>idblgrave</string>
      <string>Odblgrave</string>
      <string>odblgrave</string>
      <string>Rdblgrave</string>
      <string>rdblgrave</string>
      <string>Udblgrave</string>
      <string>udblgrave</string>
      <string>Ymacron</string>
      <string>ymacron</string>
    </array>
    <key>public.skipExportGlyphs</key>
    <array/>
  </dict>
</plist>
